<template>
  <div class="container">
    <div class="loader-box">
      <i class="fas fa-cog fa-spin fa-2x"></i>
      <i class="fas fa-cog fa-spin fa-1x"></i>
    </div>
    <span>{{messageLoader}}</span>
  </div>
</template>
<script>
export default {
  props: {
    messageLoader: { propType: String, required: true }
  }
};
</script>
<style scoped>
.container {
  display: flex;
  flex-direction: column;
  margin: 10%;
}
.loader-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loader-box i {
  color: teal;
  margin: 0;
}
.loader-box p {
  color: teal;
  margin: 0 2rem;
  font-weight: 600;
}
span {
  margin: 1rem 0;
  color: teal;
  font-weight: bold;
}
</style>