<template>
  <div>
    <MessageBox v-if="message.state == true " :message="message" />
    <div class="box" @submit.prevent="submitHandler">
      <form>
        <header>
          <h4 class="card-title">Login</h4>
        </header>

        <label for="email">Email</label>
        <input id="email" type="text" v-model.trim="email" />
        <small
          class="helper-text invalid"
          v-if="$v.email.$dirty && !$v.email.required"
        >Write your email</small>
        <small
          class="helper-text invalid"
          v-else-if="$v.email.$dirty && !$v.email.email"
        >Email it is incorrect</small>
        <label for="password">Password</label>
        <input id="password" type="password" v-model.trim="password" />

        <small
          class="helper-text invalid"
          v-if="$v.password.$dirty && !$v.password.required"
        >Write password</small>
        <small
          class="helper-text invalid"
          v-else-if="$v.password.$dirty && !$v.password.minLength"
        >Password must be {{$v.password.$params.minLength.min}} symbols.</small>

        <div>
          <button
            type="submit"
            :class="{disabled: loading}"
            :disabled="loading"
            @click="submitHandler"
          >Log in</button>
        </div>
        <footer>
          <p>
            No tienes una cuenta?
            <router-link to="/register">Crear cuenta</router-link>
          </p>
        </footer>
      </form>
    </div>
  </div>
</template>

<script>
import { email, required, minLength } from "vuelidate/lib/validators";
import api from "@/api";
import MessageBox from "@/components/app/MessageBox.vue";

export default {
  name: "login",
  components: { MessageBox },
  data: () => ({
    message: {
      type: null,
      content: null,
      state: false
    },
    email: "",
    password: "",
    loading: false
  }),
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) }
  },

  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      try {
        await this.login();
      } catch (e) {
        console.log(e);
      }
    },
    async login() {
      this.loading = true;
      this.showMessage("Loading", "loading");
      this.actualUser = await api.login(this.email, this.password);
      if (this.actualUser.message == "error_wrong_email") {
        this.showMessage("Email incorrecto", "error");
      } else if (this.actualUser.message == "error_wrong_password") {
        this.showMessage("Contraseña incorrecta", "error");
      } else {
        this.pushInfoToLocalStorage();
        this.$router.push("/");
      }
    },
    showMessage(message_content, message_type) {
      this.message.state = true;
      this.message.content = message_content;
      this.message.type = message_type;
      if (message_type !== "loading") {
        this.hideMessage();
      }
    },
    pushInfoToLocalStorage() {
      this.uid = this.actualUser.id_user;
      this.username = this.actualUser.user_name;
      localStorage.setItem("uid", this.uid);
      localStorage.setItem("username", this.username);
    },
    hideMessage() {
      this.loading = false;
      setTimeout(() => {
        this.message.state = false;
      }, 3000);
    }
  }
};
</script>
<style scoped>
.box {
  background: #5d5d5d59;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  background: white;
  margin: 0 10%;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
footer {
  text-align: center;
}
button {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 1rem 0;
  border-radius: 100px;
  padding: 0.5rem;
  background: darkcyan;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
button.disabled {
  background: rgb(160, 160, 160);
  cursor: default;
  transition: 0.3s;
}
h4 {
  margin-top: 0;
  color: darkcyan;
}
small,
label {
  font-size: 0.7rem;
  cursor: default;
  padding: 0.1rem;
}
small {
  color: red;
}
input {
  font-family: "Poppins", sans-serif;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #313131;
}
.disabled {
  background: gray;
  transition: 0.3s;
}
</style>
