<template>
  <div class="box animated 1 fadeInLeftBig">
    <div class="error text" v-if="message.type == 'error' ">
      <i class="fas fa-exclamation-triangle"></i>
      <p>{{message.content}}</p>
    </div>
    <div class="info text" v-if="message.type == 'info' ">
      <i class="fas fa-info-circle"></i>
      <p>{{message.content}}</p>
    </div>
    <div class="loading text" v-if="message.type == 'loading' ">
      <i class="fas fa-cog fa-spin fa-1x"></i>
      <p>{{message.content}}</p>
    </div>
  </div>
</template>
<script>
export default {
  name: "MessageBox",
  props: {
    message: { propType: Object, required: true }
  }
};
</script>
<style  scoped>
.box {
  position: fixed;
  top: 0rem;
  left: 0rem;
  padding: 1rem;
}
.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
i {
  padding: 1rem;
}
.error {
  color: red;
}
.info {
  color: rgb(17, 67, 117);
}
.loading {
  color: teal;
}
</style>