<template>
  <div class="box">
    <form @submit.prevent="submitHandler">
      <MessageBox v-if="message.state == true " :message="message" />
      <header>
        <h4 class="card-title">Regístrate</h4>
      </header>
      <div class="card-content">
        <article class="compulsory" v-if="!clicked">
          <div class="box-form">
            <div class="input-field">
              <label>Nombre</label>
              <input
                id="name"
                maxlength="60"
                type="text"
                v-model.trim="user.user_name"
                :class="{
            invalid: !$v.user.user_name.required && !$v.user.user_name.minLength
          }"
              />
              <small
                class="helper-text invalid"
                v-if="!$v.user.user_name.required"
              >Escribe un nombre</small>
            </div>
            <div class="input-field">
              <label for="name">Sexo</label>
              <select
                v-model.trim="user.gender"
                :class="{
            invalid: ($v.user.password.$dirty && !$v.user.gender.required),
          }"
              >
                <option
                  v-for="(gender, index) in genders"
                  :key="index"
                  v-bind:value="gender"
                >{{ gender }}</option>
              </select>

              <small
                class="helper-text invalid"
                v-if="!$v.user.gender.required"
              >Selecciona una opción</small>
            </div>
            <div class="input-field">
              <label>Fecha de nacimiento</label>
              <input
                type="date"
                id="start"
                name="birth-date"
                value="0000-00-00"
                min="1920-01-01"
                max="2020-01-01"
                v-model.trim="user.birth_date"
                :class="{
            invalid: $v.user.birth_date.$dirty && !$v.user.birth_date.required,
          }"
              />

              <small
                class="helper-text invalid"
                v-if="!$v.user.birth_date.required"
              >Selecciona una fecha</small>
            </div>
          </div>
          <div class="box-form">
            <div class="input-field">
              <label>Email</label>
              <input
                maxlength="60"
                id="email"
                type="text"
                v-model.trim="user.email"
                :class="{
            invalid:
              ($v.user.email.$dirty && !$v.user.email.required) ||
              ($v.user.email.$dirty && !$v.user.email.email),
          }"
              />

              <small class="helper-text invalid" v-if="!$v.user.email.email">Escribe un Email válido</small>
            </div>
            <div class="input-field">
              <label>Contraseña</label>
              <input
                maxlength="60"
                id="password"
                type="password"
                v-model.trim="user.password"
                :class="{
            invalid:
              ($v.user.password.$dirty && !$v.user.password.required) ||
              ($v.user.password.$dirty && !$v.user.password.minLength),
          }"
              />

              <small class="helper-text invalid" v-if="!$v.user.password.minLength">
                La contraseña debe contener al menos
                {{ $v.user.password.$params.minLength }} caracteres. Esta tiene
                {{ password.length }}
              </small>
            </div>
            <div class="input-field" v-show="user.password !== null  ">
              <label>Repite la contraseña</label>
              <input
                maxlength="60"
                id="password-confirmation"
                type="password"
                v-model.trim="user.passwordConfirmation"
                :class="{
            invalid:
              (user.password != user.passwordConfirmation),
          }"
              />

              <small
                class="helper-text invalid"
                v-if="
            user.password != user.passwordConfirmation
          "
              >Esta contraseña no se corresponde con la anterior</small>
            </div>
          </div>
        </article>

        <div class="box-form non-compulsory" v-if="clicked">
          <div class="input-field">
            <label for="postal-code">Código Postal</label>
            <input maxlength="10" id="postal-code" type="text" v-model.trim="user.postal_code" />
          </div>
          <div class="input-field">
            <label for="profession">Profesión</label>
            <input maxlength="60" id="profession" type="text" v-model.trim="user.profession" />
          </div>
          <div class="input-field">
            <label for="nationality">Nacionalidad</label>
            <select v-model.trim="user.nationality">
              <option
                v-for="(nationality, index) in nationalities"
                :key="index"
                v-bind:value="nationality"
              >{{ nationality }}</option>
            </select>
          </div>
        </div>

        <p class="input-field">
          <label>
            <input class="agree" type="checkbox" v-model="agree" />
            <span>Estoy de acuerdo con las normas y condiciones</span>
          </label>
          <small class="helper-text-invalid" v-if="!agree">Es necesario</small>
        </p>
      </div>
      <footer>
        <div v-if="!clicked">
          <button @click.prevent="changeClicked">
            Siguiente
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
        <div v-if="clicked">
          <button @click.prevent="changeClicked">
            <i class="fas fa-arrow-left"></i>Atrás
          </button>
          <button :class="{disabled: loading}" :disabled="loading" @click="submitHandler">
            Aceptar
            <i class="fas fa-paper-plane"></i>
          </button>
          <div v-if="disabled" class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>

        <p class="center">
          Ya tienes una cuenta registrada?
          <router-link to="/login">entra</router-link>
        </p>
      </footer>
    </form>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
import { v4 as uuidv4 } from "uuid";
import MessageBox from "@/components/app/MessageBox.vue";
import api from "@/api";

export default {
  name: "Register",
  components: { MessageBox },
  data() {
    return {
      user: {
        id_user: null,
        user_name: null,
        email: null,
        password: null,
        passwordConfirmation: null,
        postal_code: null,
        nationality: null,
        profession: null,
        gender: null,
        birth_date: null,
        creation_date: null
      },
      genders: ["mujer", "hombre", "otro", "prefiero no decirlo"],
      nationalities: null,
      agree: true,
      empty: true,
      errors: true,
      loading: false,
      registrationState: null,
      clicked: false,
      message: {
        type: null,
        content: null,
        state: false
      }
    };
  },
  async created() {
    this.nationalities = await api.loadNationalities();
    this.nationalities = JSON.parse(this.nationalities.text);
  },
  validations: {
    user: {
      user_name: {
        required,
        minLength: minLength(2)
      },
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(5)
      },
      passwordConfirmation: {
        required,
        sameAsPassword: sameAs("password")
      },

      gender: {
        required
      },
      birth_date: {
        required
      }
    },
    agree: { checked: v => v }
  },
  mounted() {
    this.createId();
    this.pushDefaultData();
    this.user.creation_date = new Date().toISOString();
  },
  methods: {
    createId() {
      this.user.id_user = uuidv4();
    },
    async pushDefaultData() {
      this.user.birth_date = new Date().toISOString().slice(0, 10);
      this.user.gender = this.genders[0];
      this.nationalities = await api.loadNationalities();
      this.nationalities = JSON.parse(this.nationalities.text);
    },
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        this.changeClicked();
        return;
      }
      try {
        await this.registerUser();
      } catch (e) {
        console.log(e);
      }
    },

    async registerUser() {
      this.loading = true;
      this.showMessage("Loading", "loading");
      this.registrationState = await api.postUser(this.user);
      if (this.registrationState.message == "account_exists") {
        this.showMessage("E-mail ya está en uso. haz login", "error");
        this.changeClicked();
        this.loading = false;
      } else {
        this.pushInfoToLocalStorage();
        this.loading = false;
        this.$router.push("/tutorial");
      }
    },
    showMessage(message_content, message_type) {
      this.message.state = true;
      this.message.content = message_content;
      this.message.type = message_type;
      if (message_type !== "loading") {
        this.hideMessage();
      }
    },
    pushInfoToLocalStorage() {
      this.uid = this.registrationState.id_user;
      this.username = this.registrationState.user_name;
      localStorage.setItem("uid", this.user.id_user);
      localStorage.setItem("username", this.user.user_name);
    },
    hideMessage() {
      this.loading = false;
      setTimeout(() => {
        this.message.state = false;
      }, 3000);
    },
    changeClicked() {
      this.clicked = !this.clicked;
    }
  }
};
</script>

<style scoped>
.box {
  background: #5d5d5d59;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form {
  background: white;
  margin: 2rem 10%;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.compulsory {
  display: flex;
  flex-direction: row;
}
.box-form {
  margin: 0 1rem;
}
footer {
  text-align: center;
}
button {
  font-family: "Poppins";
  font-style: normal;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 100px;
  padding: 0.5rem;
  background: darkcyan;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
button.disabled {
  background: rgb(160, 160, 160);
  cursor: default;
  transition: 0.3s;
}
h4 {
  margin-top: 0;
  color: darkcyan;
}
small,
label {
  font-size: 0.7rem;
  cursor: default;
}
small {
  color: red;
}
input,
select {
  font-family: "Poppins", sans-serif;
  outline: none;
  width: 30vw;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.2rem 0 0.5rem 0;
  border: 1px solid #313131;
}
i {
  margin: 0 0.2rem;
}
.disabled {
  background: gray;
  transition: 0.3s;
}
.agree {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  width: 1rem;
}
.center {
  margin: 0.2rem 0;
}
</style>
