<template>
  <div id="goals-page">
    <div id="title" class="animated 1 slideInDown delay-0.5s">
      <i @click="backToDaysMap" class="fas fa-chevron-left"></i>
      <img src="@/assets/goal-grey.png" alt="goal-icon" />
      <h2>Mis objetivos</h2>
    </div>
    <Loader :messageLoader="messageLoader" v-if="loading" />
    <ProgressBar v-if="progressPercent" :progressPercent="progressPercent" />
    <SingleGoal v-for="(goal, index) in goals" :key="index" class="single-goal" :singleGoal="goal" />
  </div>
</template>

<script>
import SingleGoal from "@/components/GoalsPage/SingleGoal.vue";
import ProgressBar from "@/components/GoalsPage/ProgressBar.vue";
import api from "@/api";

export default {
  name: "GoalsPage",
  components: {
    SingleGoal,
    ProgressBar
  },
  data() {
    return {
      messageLoader: "Espera un poco ...",
      loading: true,
      url: "/api/goals/",
      id_leadership: this.$route.params.id_leadership,
      goals: [],
      daysCompleted: [],
      allDaysOfLeadership: [],
      progressPercent: 0

      /*       id_leadership: this.$route.params.id_leadership */
    };
  },
  created() {
    this.onLoadingPage();
  },
  computed: {
    uid() {
      return window.localStorage.getItem("uid");
    }
  },
  methods: {
    async onLoadingPage() {
      this.goals = await api.getGoalsList(this.id_leadership);
      console.log(this.uid);
      this.daysCompleted = await api.loadCompletedDays(
        this.uid,
        this.id_leadership
      );
      this.allDaysOfLeadership = await api.getDaysList(this.id_leadership);
      this.generateProgressPercent(
        this.daysCompleted.length,
        this.allDaysOfLeadership.length
      );
      this.loading = false;
    },

    backToDaysMap() {
      this.$router.push("/days_map/" + this.id_leadership + "/" + this.uid);
    },
    generateProgressPercent(completedDays, allDays) {
      this.daysToPercentRatio = 100 / allDays;
      console.log(
        "completedDays",
        completedDays,
        "allDays",
        allDays,
        "daysToPercentRatio",
        this.daysToPercentRatio
      );
      this.progressPercent = Math.round(
        completedDays * this.daysToPercentRatio
      );
      console.log("progressPercent", this.progressPercent);
    }
  }
};
</script>

<style scoped>
h2 {
  color: #525252;
  display: inline;
  font-size: 21px;
}
img {
  color: #525252;
  width: 2rem;
  padding: 0rem 0.5rem 0rem 0rem;
}
#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #dbdbdb;
  border-radius: 50px;
}
i {
  margin: 0.5rem;
}
.fa-chevron-left {
  position: absolute;
  left: 3rem;
  cursor: pointer;
  color: #1aac9b;
  font-size: 1.5rem;
  padding: 1rem;
}

@media all and (max-width: 601px) {
  h2 {
    font-size: 18px;
  }
  .fa-chevron-left {
    left: 1rem;
  }
}
</style>
