<template>
  <div class="animated 1 fadeIn">
    <p>
      Tu progreso:
      <strong>{{this.progressPercent || 0}}%</strong> de la ruta.
    </p>
    <div class="progress-border">
      <div class="progress" :style="{ width: this.progressPercent + '%' }"></div>
    </div>
    <small v-if="this.progressPercent == 100">Has cumplido todas las actividades de la ruta.</small>
    <i v-if="this.progressPercent == 100" class="fas fa-check"></i>
  </div>
</template>
<script>
export default {
  name: "progress-bar",
  props: {
    progressPercent: { propType: Number, required: true }
  }
};
</script>
<style scoped>
.progress-border {
  border: solid 1px #1aac9b;
  margin: 1rem 25%;
  border-radius: 5px;
}
.progress {
  background: #1aac9b;
  height: 1rem;
  border-radius: 0px;
}
@media all and (max-width: 601px) {
  .progress-border {
    margin: 1rem 5%;
  }
}
</style>