<template>
  <div id="single-goal" class="column animated 1 fadeInUpBig delay-0.5s">
    <div class="row">
      <button @click="showBox" id="checkbox">
        <img src="@/assets/question.png" alt="checkmark" />
      </button>
      <div id="description-goal">
        <big>{{ singleGoal.name }}</big>
      </div>
    </div>
    <div v-if="isClicked" class="animated 1 fadeIn delay-0.5s" id="info-box">
      <big>Para que es ...</big>
      <p>{{ singleGoal.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "SingleGoal",
  props: {
    singleGoal: { propType: Object, required: true }
  },
  data() {
    return {
      urlHistory: "/api/single_goal_history/",
      // state
      isClicked: false,
      filtredGoal: []
    };
  },

  created() {
    setTimeout(this.checkCurrentState, 100);
  },
  methods: {
    showBox() {
      if (this.isClicked) {
        this.isClicked = false;
      } else {
        this.isClicked = true;
      }
    }
  }
};
</script>
<style scoped>
#single-goal {
  flex-grow: 1;
  justify-content: space-between;
  margin: 1rem 20rem 2rem 20rem;
  padding: 1rem;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
#single-goal:hover {
  transition: 0.3s;
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.25);
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#description-goal {
  flex-grow: 2;
  text-align: left;
  justify-content: left;
  margin: 0.5rem 1rem;
}
#info-box {
  margin-top: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  border-top: solid #dbdbdb 1px;
  text-align: left;
}
button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
  background: #1aac9b;
}
button:hover,
button:active {
  outline: none;
  background: #3ce4d0;
}
big {
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s;
}

p {
  margin: 1rem 0rem 0rem 0rem;
  font-size: 14px;
}
img {
  width: 1rem;
}
@media (min-width: 601px) and (max-width: 1000px) {
  #single-goal {
    margin: 1rem 10rem 0rem 10rem;
  }
}
@media all and (max-width: 601px) {
  #single-goal {
    margin: 1rem 1rem 0rem 1rem;
  }
  #description-goal {
    margin-left: 2rem;
  }
  button {
    margin-left: 1rem;
  }
  big {
    font-size: 14px;
  }
  p {
    margin: 0.5rem 0rem 0rem 0rem;
    font-size: 12px;
  }
}
</style>
