<template>
  <header>
    <div class="menu" @click="clickMenu">
      <i class="fas fa-bars"></i>
    </div>
    <div v-show="(clicked)">
      <ul>
        <li>
          <router-link to="/register">Register</router-link>
        </li>
        <li>
          <router-link to="/tutorial">Tutorial</router-link>
        </li>
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li v-if="!uid">
          <router-link to="/login">Login</router-link>
        </li>
        <li @click="logout">
          <router-link to="/login">Logout</router-link>
        </li>
        <li>
          <a @click="goToprofile()">Profile</a>
        </li>
        <li>
          <a @click="goToLeaderships()">Leaderships</a>
        </li>
      </ul>
    </div>
  </header>
</template>
 
<script>
export default {
  name: "NavMenu",
  computed: {
    uid() {
      return window.localStorage.getItem("uid");
    }
  },
  data() {
    return {
      clicked: false
    };
  },

  methods: {
    clickMenu() {
      if (!this.clicked) {
        this.clicked = true;
      } else {
        this.clicked = false;
      }
    },
    logout() {
      window.localStorage.removeItem("uid");
      window.localStorage.removeItem("username");
    },
    goToLeaderships() {
      this.$router.push("/leaderships/" + this.uid);
    },
    goToprofile() {
      this.uid = window.localStorage.getItem("uid");
      this.$router.push("/profile/" + this.uid);
    }
  }
};
</script>
 
<style scoped>
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
</style>
