<template>
  <div class="welcome-screen">
    <h1>Welcome {{this.username}}!</h1>
  </div>
</template>
 
<script>
export default {
  name: "WelcomeScreen",
  computed: {
    username() {
      return window.localStorage.getItem("username");
    }
  }
};
</script>
 
<style scoped>
</style>
