<template>
  <div>
    <NavTypes :currentDayInfo="currentDayInfo" :id_leadership="id_leadership" class="nav-bar" />
    <Loader :messageLoader="messageLoader" v-if="!currentDayInfo" />
    <div v-else id="days-map-page">
      <div
        class="messageBox"
        v-if="this.currentDayInfo.currentDay === 22 && this.id_leadership == 1"
      >
        <img id="trophy" src="@/assets/trophy.png" class="animated 1 fadeIn" />
        <article class="animated 1 fadeIn">
          <big>¡Enhorabuena!</big>
          <p>
            Has completado todos los días de la ruta
            <strong>{{this.currentDayInfo.currentLeadershipName}}</strong>.
            <br />Se encuentra disponible una nueva etapa!
            <br />Vaya a la lista de
            <router-link to="/leaderships/1">todos los liderazgos</router-link>
            <span></span> y comience!
          </p>
        </article>
      </div>
      <SingleDay
        v-for="(day, index) in daysList"
        :key="index"
        :currentDayInfo="currentDayInfo"
        :convertedCurrentDate="convertedCurrentDate"
        :dateToday="dateToday"
        :id_leadership="id_leadership"
        :singleDay="day"
        :index="index"
        class="single-day"
      />
    </div>
  </div>
</template>

<script>
import api from "@/api";
import NavTypes from "@/components/DaysMapPage/NavTypes.vue";
import SingleDay from "@/components/DaysMapPage/SingleDay.vue";

export default {
  name: "DaysMapPage",
  components: {
    NavTypes,
    SingleDay
  },
  data() {
    return {
      messageLoader: "Preparamos la ruta",
      urlDaysRoutine: "/api/routines/",
      id_leadership: this.$route.params.id_leadership,
      currentDayInfo: null,
      daysList: [],
      dateToday: null,
      convertedCurrentDate: null
    };
  },
  computed: {
    uid() {
      return window.localStorage.getItem("uid");
    }
  },
  created() {
    this.loadCurrentDayInfo();
    this.getDateToday();
  },
  methods: {
    async loadCurrentDayInfo() {
      this.currentDayInfo = await api.getCurrentDayInfo(
        this.uid,
        this.id_leadership
      );
      this.convertCurrentDate(this.currentDayInfo.currentDate);
      this.daysList = await api.getDaysList(this.id_leadership);
    },
    getDateToday() {
      this.dateToday = new Date().toISOString().slice(0, 10);
    },
    convertCurrentDate(date) {
      this.convertedCurrentDate = date.slice(0, 10);
    }
  }
};
</script>

<style scoped>
#days-map-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
big {
  padding-top: 1rem;
  font-weight: BOLD;
}
.messageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-left: 0.5rem solid #30d8c4;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  margin: 2rem 20vw;
}
#trophy {
  height: 5rem;
  margin: 1rem 3rem 1rem 2rem;
}
</style>
