<template>
  <div id="nav-bar" class="animated 1 slideInDown">
    <button id="leaderships-nav-btn" @click="goToLeadershipsPage">
      <img
        :src="require(`@/assets/${currentDayInfo.currentLeadershipName}.png`)"
        alt="leadership-icon"
      />
      <big>{{currentDayInfo.currentLeadershipName}}</big>
      <i class="fas fa-caret-down"></i>
    </button>
    <button id="goals-btn" @click="goToGoalsPage">
      <img src="@/assets/goal.png" alt="goal-icon" />
      <span>Mis objetivos</span>
    </button>
  </div>
</template>

<script>
export default {
  name: "NavTypes",
  props: {
    currentDayInfo: { propType: Object, required: true },
    id_leadership: { propType: String, required: true }
  },
  computed: {
    uid() {
      return window.localStorage.getItem("uid");
    }
  },
  methods: {
    goToLeadershipsPage() {
      this.$router.push("/leaderships/" + this.uid);
    },
    goToGoalsPage() {
      this.$router.push("/goals/" + this.uid + "/" + this.id_leadership);
    }
  }
};
</script>

<style scoped>
#nav-bar {
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25); */
  border-bottom: solid 1px #dbdbdb;
  border-radius: 50px;
  margin: 0 0 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button {
  border-style: none;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0.2rem 0.7rem;
  margin: 0.2rem;
  outline: none;
}
#leaderships-nav-btn {
  background: #e7e7e7;
  border-radius: 50px;
  transition: 0.5s;
}
#leaderships-nav-btn:hover {
  cursor: pointer;
  background: #cecece;
  transition: 0.5s;
}
#leaderships-nav-btn img {
  width: 2rem;
  padding: 0.5rem;
}

#goals-btn {
  font-weight: bold;
  color: #979797;
  border: 2px solid #e7e7e7;
  border-radius: 50px;
  transition: 0.5s;
}
#goals-btn:hover {
  cursor: pointer;
  border: 2px solid #38e6d28e;
  transition: 0.5s;
  color: #2aa798;
}
#goals-btn img {
  width: 2rem;
  margin-right: 0.5rem;
}
.fa-caret-down {
  margin-left: 0.5rem;
}
@media all and (max-width: 601px) {
  button {
    font-size: 12px;
  }
  #leaderships-nav-btn img {
    width: 1.5rem;
  }
  #goals-btn {
    color: rgb(109, 109, 109);
  }
}
</style>