<template>
  <div :class="{ completed: isCompleted}" id="single-day" class="animated 1 fadeInRightBig">
    <button
      :class="{ today: isToday, disabledUntilTomorrow: isDisabledUntilTomorrow  }"
      :disabled="isDisabledUntilTomorrow  ||  isDisabled"
      @click="sendSelectedDay"
    >
      <span :class="{ completed: isCompleted }">
        <img id="checkmark" v-if="isCompleted" src="@/assets/checkmark.png" alt="checkmark" />
        <!-- <img id="lock" v-if="isDisabled" src="@/assets/lock.png" alt="lock" /> -->
      </span>
      <strong :class="{ completed: isCompleted }">Día {{ index + 1 }}</strong>
      <p id="message-waiting" v-if="isDisabledUntilTomorrow">
        <i class="fas fa-exclamation-circle"></i>Estará abierto mañana
      </p>
    </button>
  </div>
</template>

<script>
export default {
  name: "SingleDay",
  props: {
    currentDayInfo: { propType: Object, required: true },
    singleDay: { propType: Object, required: true },
    index: { propType: Object, required: true },
    id_leadership: { propType: Object, required: true },
    convertedCurrentDate: { propType: Object, required: true },
    dateToday: { propType: Object, required: true }
  },

  computed: {
    isDisabled() {
      if (this.singleDay.day <= this.currentDayInfo.currentDay) {
        return false;
      } else {
        return true;
      }
    },
    isCompleted() {
      if (this.singleDay.day < this.currentDayInfo.currentDay) {
        return true;
      } else {
        return false;
      }
    },
    isToday() {
      if (this.singleDay.day == this.currentDayInfo.currentDay) {
        return true;
      } else {
        return false;
      }
    },
    isDisabledUntilTomorrow() {
      if (
        this.singleDay.day == this.currentDayInfo.currentDay &&
        this.dateToday == this.convertedCurrentDate
      ) {
        return true;
      } else {
        return false;
      }
    },
    uid() {
      return window.localStorage.getItem("uid");
    }
  },

  methods: {
    sendSelectedDay() {
      console.log(this.id_leadership);
      this.$router.push(
        "/routine/" +
          this.uid +
          "/" +
          this.id_leadership +
          "/" +
          this.singleDay.day
      );
    }
  }
};
</script>
<style scoped>
#single-day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button {
  width: 60vw;
  background: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: none;
  margin-bottom: 1rem;
  padding: 1rem;
  outline: none;
  cursor: pointer;
}
button.today {
  border: 1px solid #30d8c4;
  transition: 0.5s;
}
button.today:hover {
  box-shadow: 0px 0px 15px rgba(44, 185, 185, 0.9);
  transition: 0.5s;
}
button.today:hover #message-waiting {
  color: #ff8585;
  transition: 0.5s;
}
button.disabledUntilTomorrow {
  border: none;
  cursor: default;
  transition: 0.5s;
}
button.disabledUntilTomorrow:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
button strong {
  margin: 0rem 1.2rem;
  font-size: 18px;
  font-weight: lighter;
}
button strong.completed {
  color: #1aac9b;
}
span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  background: #dbdbdb;
}
button span.completed {
  background: #1aac9b;
}
#checkmark {
  width: 1.5rem;
}
#lock {
  width: 1rem;
}
#message-waiting {
  font-size: 12px;
  color: #c5c5c5;
  transition: 0.5s;
  cursor: default;
}
#message-waiting i {
  margin: 0.2rem;
}
@media all and (max-width: 601px) {
  button {
    width: 95vw;
  }
  #message-waiting {
    width: 40vw;
  }
  #message-waiting i {
    display: none;
  }
}
</style>
