<template>
  <div class="profile-page">
    <UserInfoBox :username="username" :userInfo="userInfo" @emit-mantra="putMantra" />
  </div>
</template>
 
<script>
import UserInfoBox from "@/components/ProfilePage/UserInfoBox";
import api from "@/api";

export default {
  name: "ProfilePage",
  components: { UserInfoBox },
  data() {
    return {
      userInfo: null,
      uid: this.$route.params.id_user
    };
  },
  computed: {
    username() {
      return window.localStorage.getItem("username");
    }
    //uid() {
    //  return window.localStorage.getItem("uid");
    //}
  },
  mounted() {
    this.uid = window.localStorage.getItem("uid");
    setTimeout(() => {
      this.getUserInfo();
    }, 1000);
  },
  methods: {
    async getUserInfo() {
      this.userInfo = await api.getUserInfo(this.uid);
    },

    async putMantra(mantra) {
      this.response = mantra;
      this.userInfo.mantra = this.response;
      await api.putMantra(mantra, this.uid);
    }
  }
};
</script>
 
<style scoped>
</style>
