<template>
  <div class="user-info box">
    <h3>Hola {{this.username}}!</h3>
    <Loader :messageLoader="messageLoader" v-if="!userInfo" />
    <div v-else class="user-info">
      <article>
        <i class="far fa-envelope"></i>
        <p>{{userInfo.email}}</p>
      </article>
      <article>
        <i class="far fa-clock"></i>
        <p>{{userInfo.creation_date.slice(0,10)}}</p>
      </article>
      <article v-if="userInfo.profession">
        <i class="fas fa-briefcase"></i>
        <p>{{userInfo.profession}}</p>
      </article>
      <article v-if="userInfo.nationality">
        <i class="fas fa-globe-africa"></i>
        <p>{{userInfo.nationality}}</p>
      </article>
      <article v-if="userInfo.mantra">
        <div class="input-buttons" v-if="!edit ">
          <i class="fas fa-om"></i>
          <p>{{userInfo.mantra}}</p>
          <button @click="editMantra">Editar</button>
        </div>
        <div v-else>
          <input v-model="newMantra" />
          <button @click="sendEditedMantra">Ok</button>
          <button class="secondary-button" @click="editMantra">X</button>
        </div>
      </article>
    </div>
  </div>
</template>
 
<script>
export default {
  name: "UserInfoBox",
  data() {
    return {
      messageLoader: "Buscamos tus datos ...",
      edit: false,
      newMantra: null
    };
  },
  props: {
    username: { propType: String, required: true },
    userInfo: { propType: Object, required: true }
  },

  created() {
    this.newMantra = this.userInfo.mantra;
  },
  methods: {
    editMantra() {
      if (!this.edit) {
        this.edit = true;
        this.newMantra = this.userInfo.mantra;
      } else {
        this.edit = false;
        this.message = null;
      }
    },
    sendEditedMantra() {
      this.$emit("emit-mantra", this.newMantra);
      this.edit = false;
    }
  }
};
</script>
 
<style scoped>
.box {
  display: flex;
  flex-direction: column;
  margin: 2rem 10%;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.input-buttons {
  display: flex;
  flex-direction: row;
}
.user-info {
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
  margin-left: 0.5rem;
  border-style: none;
  background: #1aac9b;
  color: white;
  border: 1px solid #1aac9b;
  border-radius: 5px;
}
button:hover {
  color: #1aac9b;
  background: white;
  transition: 0.3s;
}
article {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
}
article p {
  margin: 0 0 0 1rem;
}
article i {
  font-size: 1.5rem;
  color: rgb(148, 148, 148);
}
</style>
