<template>
  <div id="app">
    <NavMenu />
    <router-view></router-view>
  </div>
</template>

<script>
import NavMenu from "./components/WelcomeScreen/NavMenu.vue";

export default {
  name: "App",
  components: {
    NavMenu
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
* {
  font-family: "Poppins", sans-serif;
}
#app {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
</style>
