<template>
  <div id="leaderships-page">
    <h1>Liderazgos</h1>
    <Loader :messageLoader="messageLoader" v-if="loading" />
    <div v-else class="leaderships">
      <SingleLeadership
        v-for="(leadership, index) in activeLeaderships"
        :key="index"
        :singleLeadership="leadership"
        :id="idCurrentUser"
      />
    </div>
  </div>
</template>

<script>
import SingleLeadership from "@/components/LeadershipsPage/SingleLeadership.vue";
import api from "@/api";

export default {
  name: "LeadershipsPage",
  components: {
    SingleLeadership
  },
  data() {
    return {
      messageLoader: "Preparamos la información",
      idCurrentUser: this.$route.params.id_user,
      loading: true,
      /* this.$route.params.id_user */
      // urlLeaderships: "/api/leaderships/",
      // url: "/api/",
      // urlCurrentLeaderships: "/leaderships/state/",
      allLeaderships: [],
      currentLeadership: [],
      activeLeaderships: []
    };
  },

  mounted() {
    this.callLeaderships();
  },

  methods: {
    async callLeaderships() {
      this.activeLeaderships = await api.loadLeaderships(this.idCurrentUser);
      this.loading = false;
    }
  }
};
</script>

<style scoped>
#leaderships-page {
  margin-bottom: 2rem;
}
.leaderships {
  display: grid;
  justify-content: center;
  grid-column-gap: 5rem;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "img1          img2"
    "img3          img4"
    "       img5      ";
}

@media all and (max-width: 601px) {
  .leaderships {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5";
  }
}
</style>
