<template>
  <button
    class="single-leadership animated 1 fadeInLeftBig"
    :class="{'locked-button': isDisabled}"
    :disabled="isDisabled"
    @click="sendLeadershipInfo"
  >
    <img v-if="isDisabled" class="lock" :src="require(`@/assets/lock.png`)" alt="lock-icon" />
    <img class="icon" :src="this.singleLeadership.img_path" alt="liderazgo-icon" />
    <h3>{{ singleLeadership.name }}</h3>
    <p>{{ singleLeadership.description }}</p>
  </button>
</template>

<script>
export default {
  name: "SingleLeadership",

  props: {
    singleLeadership: { propType: Object, required: true },
    id: { propType: String, required: true }
  },
  computed: {
    isDisabled() {
      if (this.singleLeadership.active) {
        return false;
      } else {
        return true;
      }
    }
  },
  methods: {
    sendLeadershipInfo() {
      this.$router.push(
        "/days_map/" + this.singleLeadership.id_leadership + "/" + this.id
      );
    }
  }
};
</script>
<style scoped>
.single-leadership {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 3rem 0.8rem;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 25rem;
  padding: 2rem;
  transition: 0.3s;
}

.single-leadership:hover {
  transition: 0.3s;
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.25);
}
.single-leadership:hover .icon {
  width: 4rem;
  margin-top: 0rem;
  transition: 0.3s;
}

.locked:hover {
  background: #c4fff4;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.locked-button {
  cursor: default;
  background: #c4fff4;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 1.5rem;
  margin: 0.5rem;
}

h3:hover {
  font-size: 1.5rem;
}

.icon {
  margin: 1rem;
  width: 3rem;
  transition: 0.3s;
}

.lock {
  width: 1rem;
  position: relative;
  display: flex;
  align-self: flex-start;
}

button {
  height: 2.5rem;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
}

button:focus {
  outline: none;
}

p {
  text-align: left;
  color: rgb(78, 78, 78);
  font-size: 16px;
  line-height: 1.5rem;
  padding: 1rem;
}

@media all and (max-width: 601px) {
  .single-leadership {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.8rem 3rem;
    width: 90vw;
    height: auto;
    padding: 0.5rem;
  }
}
</style>
