<template>
  <div id="app-description">
    <section id="description-box">
      <span span id="description">{{ this.descriptionText[this.page].text }}</span>
    </section>
    <div id="buttons">
      <button class="button-back" v-if="this.page > 0" @click="changePageToBack">
        <i class="fas fa-angle-left"></i>
        Atras
      </button>
      <button class="button-next" v-if="this.page < this.maxPage" @click="changePageToNext">
        Siguente
        <i class="fas fa-angle-right"></i>
      </button>
      <button class="button-ready" v-if="this.page == this.maxPage" @click="goToLeadershipsPage()">
        Listo
        <i class="fas fa-check"></i>
      </button>
    </div>
  </div>
</template>

<script>
import api from "@/api";

export default {
  name: "AppDescriptionPage",
  components: {},
  data() {
    return {
      page: 0,
      maxPage: null,
      descriptionText: []
    };
  },
  computed: {
    uid() {
      return window.localStorage.getItem("uid");
    }
  },
  created() {
    this.page = 0;
    this.loadTexts();
    this.getMaxPage();
  },
  methods: {
    changePageToNext() {
      this.page = this.page + 1;
    },
    async getMaxPage() {
      this.maxPage = await this.loadTexts();
      this.maxPage = this.descriptionText.length - 1;
    },
    changePageToBack() {
      this.page = this.page - 1;
    },
    async loadTexts() {
      this.descriptionText = await api.loadTexts();
    },
    goToLeadershipsPage() {
      this.$router.push("/leaderships/" + this.uid);
    }
  }
};
</script>

<style scoped>
#app-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#description-box {
  display: block;
  margin: 2rem 10vw 1rem 10vw;
  height: 60vh;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button {
  font-family: Poppins;
  margin-top: 2rem;
  border-radius: 20px;
  border-style: none;
  background: #1aac9b;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
  border: 1px solid #1aac9b;
}
button:hover {
  color: #1aac9b;
  background: white;
  transition: 0.3s;
}
router-link {
  color: white;
  text-decoration-style: none;
}
span {
  font-size: 21px;
}
@media all and (max-width: 601px) {
  #description-box {
    margin: 0rem 1rem;
    height: 75vh;
  }
  button {
    border-radius: 10px;
    font-size: 12px;
    padding: 0.8rem 0;
  }
  span {
    font-size: 12px;
  }
}
</style>
