<template>
  <div class="mantra">
    <i v-if="!this.edit" class="fas fa-om"></i>
    <!--<img  src="@/assets/mantra.png" class="animated 1 fadeIn" /> -->
    <article class="animated 1 fadeIn">
      <big class="animated 1 fadeIn" v-if="edit">Escribe algo</big>
      <big class="green animated 1 fadeIn" v-if="!edit">
        <big v-if="!this.userInfo.mantra">¡Crea tu propio mantra!</big>
        <big v-else>¡Mi mantra!</big>
      </big>
      <p v-if="!edit && this.userInfo.mantra">{{ this.userInfo.mantra}}</p>
      <div class="input" v-if="this.edit">
        <input maxlength="37" v-if="edit" v-model="newMantra" />
        <button class="secondary-button" @click="sendEditedMantra">Ok</button>
        <button class="secondary-button red" @click="editMantra">X</button>
      </div>
      <div v-if="!edit" class="buttons">
        <button class="primary-button" @click="editMantra">
          <p v-if="!this.userInfo.mantra">Crear</p>
          <p v-else>Editar</p>
        </button>
      </div>
    </article>
  </div>
</template>
 
<script>
export default {
  name: "Mantra",
  data() {
    return {
      messageLoader: "Buscamos tus datos ...",
      edit: false,
      newMantra: null
    };
  },
  props: {
    userInfo: { propType: Object, required: true }
  },
  created() {
    setTimeout(() => {
      this.newMantra = this.userInfo.mantra;
    }, 1000);
  },

  methods: {
    editMantra() {
      if (!this.edit) {
        this.edit = true;
        this.newMantra = this.userInfo.mantra;
      } else {
        this.edit = false;
        this.message = null;
      }
    },
    sendEditedMantra() {
      this.$emit("emit-mantra", this.newMantra);
      setTimeout(() => {
        this.edit = false;
      }, 1000);
    }
  }
};
</script>
 
<style scoped>
.mantra {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}
article {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
big {
  color: #b84d56;
  padding: 0 0 1rem 0;
  font-weight: BOLD;
}
button p {
  margin: 0;
}
i {
  font-size: 5rem;
  color: #b84d56;
}
#mantra {
  height: 7rem;
  margin: 1rem;
}
.buttons {
  display: flex;
  text-align: right;
  flex-direction: column;
  margin-top: 0.5rem;
}
.input {
  display: flex;
  text-align: right;
  width: 100%;
  margin-top: 1rem;
}
input {
  margin-top: 0.5rem;
  display: block;
  width: 30rem;
  border-style: none;
  border-bottom: 2px solid rgb(66, 66, 66);
  transition: 0.3s;
}
input:hover {
  border-bottom: 2px solid rgb(148, 148, 148);
}
input:focus {
  border-bottom: 2px solid #b84d56;
  transition: 0.3s;
}
.fa-check {
  color: #1aac9b;
  transition: 0.5s;
  font-size: 0.5px;
}
.primary-button,
.secondary-button {
  font-family: Poppins;
  margin: 0;
  border-style: none;
  border-radius: 50px;
  background: #b84d56;
  color: white;
  margin-right: 0.2rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border: 0.1rem solid #b84d56;
}
.primary-button:hover {
  color: #b84d56;
  border: 0.1rem solid #b84d56;
  background: white;
  transition: 0.3s;
}
.secondary-button {
  padding: 0.3rem 0.5rem;
  margin: 0.3rem;
  border: none;
  background: rgb(13, 175, 13);
  margin-left: 0.1rem;
  border-radius: 5px;
  font-size: 10px;
  font-weight: normal;
}
.red {
  background: red;
}
</style>
