<template>
  <div class="negative animated 1 fadeInLeftBig">
    <p>{{ advice }}</p>
  </div>
</template>
<script>
export default {
  name: "Negative",
  props: {
    advice: { propType: String, required: true }
  }
};
</script>
<style scoped>
.test {
  margin: 0 0 1rem 0;
}

p {
  font-weight: 100;
}

.negative {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 1rem 0rem;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 85%;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #1aac9b;
  color: white;
}
</style>
