<template>
  <div class="positive">
    <h4>{{ question.question }}</h4>
    <p>{{ question.answer }}</p>
    <textarea
      name="answer"
      id="answer"
      cols="50"
      rows="3"
      v-model="completedQuestion.answer"
      @keyup.enter="sendAnswer"
      @keyup="sendAnswer"
      placeholder=". . ."
    ></textarea>
  </div>
</template>
<script>
export default {
  name: "Positive",
  data() {
    return {
      completedQuestion: {
        id: this.question.id,
        answer: null
      }
    };
  },
  props: {
    question: { propType: Object, required: true }
  },
  methods: {
    sendAnswer() {
      this.$emit("emit-question-answers", this.completedQuestion);
    }
  }
};
</script>
<style scoped>
.test {
  margin: 0 0 1rem 0;
}
textarea {
  width: 85%;
  border: none;
  border-radius: 0 10px 10px 0;
  border-left: 2px solid #1aac9b;
  background: rgb(245, 245, 245);
  padding: 1rem;
  min-height: 3rem;
}

h4 {
  margin: 2rem 0 0.5rem 0;
}
p {
  margin: 0.5rem 0;
}
.test {
  margin-bottom: 2rem;
}

p {
  font-weight: 100;
}
</style>
