<template>
  <div id="routine-page">
    <header class="animated 1 slideInDown">
      <i @click="backToDaysMap" id="button-go-back-to-days-map" class="fas fa-chevron-left"></i>
      <h2>Día {{ day }}</h2>
    </header>
    <div class="routinepage">
      <Loader :messageLoader="messageLoader" v-if="routine == null" />
      <div v-else>
        <div v-if="!clicked" class="animated 1 fadeInLeftBig">
          <p class="general-description">{{ routine.activity[0].activity_general }}</p>

          <div id="activity-box">
            <h3>Actividad</h3>
            <p>{{ routine.activity[0].activity_description }}</p>
          </div>
          <div v-if="day == 1 || day == 22 || day == 43 || day == 64 ||day == 85" id="mantra-box">
            <Mantra @emit-mantra="putMantra" :userInfo="userInfo"></Mantra>
          </div>
          <div id="quote-box">
            <h3>Motivación</h3>
            <p class="quote">{{ routine.quote[0].quote }}</p>
            <small class="author">{{ routine.quote[0].author }}</small>
          </div>
          <div id="test-box" v-if="!historyMode">
            <h3 v-if="!historyMode">Test del día</h3>
            <button v-if="!historyMode" id="button-go-to-test" @click="changeStateClicked">
              <p>Test</p>
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
          <div class="history-box" v-if="historyMode && typeof testHistory === 'string'">
            <h3>Historial</h3>
            <p v-if="completedTest !== null">{{ testHistory }}</p>
          </div>

          <div class="history-box" v-if="historyMode && typeof testHistory !== 'string'">
            <h3>Historial</h3>
            <TestSpecialHistory :testHistory="testHistory"></TestSpecialHistory>
          </div>
        </div>
        <div class="test-box" v-if="clicked">
          <TestSpecial
            v-if="!historyMode && routine.test[0].id_test !== '0'"
            id="test"
            class="test"
            @emit-test-answers="postTest"
            :base="base"
            :positive="positive"
            :testDescription="testDescription"
          ></TestSpecial>

          <Test
            v-if="!historyMode && routine.test[0].id_test == '0'"
            id="test"
            class="test"
            @emit-test-answers="postTest"
            :testDescription="testDescription"
            :base="base"
            :positive="positive"
            :negative="negative"
            :id_leadership="id_leadership"
            :day="day"
          ></Test>
          <button id="button-go-to-routine-page" @click="changeStateClicked">
            Atrás
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Mantra from "@/components/RoutinePage/Mantra.vue";
import Test from "@/components/RoutinePage/Test.vue";
import TestSpecial from "@/components/RoutinePage/TestSpecial.vue";
import TestSpecialHistory from "@/components/RoutinePage/TestSpecialHistory.vue";
import api from "@/api";

export default {
  name: "RoutinePage",
  components: {
    Test,
    TestSpecial,
    TestSpecialHistory,
    Mantra
  },

  data() {
    return {
      messageLoader: "Busamos las actividades para hoy ...",
      day: this.$route.params.day,
      date: null,
      routine: null,
      base: null,
      positive: null,
      negative: null,
      testHistory: null,
      clicked: false,
      id_leadership: this.$route.params.id_leadership,
      historyMode: false,
      routineTexts: null,
      testDescription: null,
      userInfo: null
    };
  },
  computed: {
    uid() {
      return window.localStorage.getItem("uid");
    }
  },
  mounted() {
    this.getRoutineTexts();
    this.getRoutine();
    this.date = new Date().toISOString();
    this.getUserInfo(this.uid);
  },

  methods: {
    async getRoutineTexts() {
      this.routineTexts = await api.loadRoutineTexts();
      this.testDescription = this.routineTexts[0].text;
      this.negative = this.routineTexts[1].text;
    },
    async getUserInfo(uid) {
      this.userInfo = await api.getUserInfo(uid);
    },
    async putMantra(mantra) {
      this.response = mantra;
      this.userInfo.mantra = this.response;
      await api.putMantra(mantra, this.uid);
    },
    async getRoutine() {
      this.routine = await api.loadRoutine(
        this.uid,
        this.id_leadership,
        this.day
      );
      this.getTestOrHistory();
    },

    getTestOrHistory() {
      if (this.day == this.routine.currentDay) {
        this.historyMode = false;
        this.stringifyTest();
      } else {
        this.historyMode = true;
        this.stringifyHistory();
      }
    },

    stringifyTest() {
      this.base = this.routine.test[0].base;
      this.positive = this.routine.test[0].part_one;
      this.base = JSON.parse(this.base);
      this.positive = JSON.parse(this.positive);
      this.negative = JSON.parse(this.negative);
    },

    stringifyHistory() {
      this.testHistory = this.routine.test[0].response;
      this.testHistory = JSON.parse(this.testHistory);
    },

    async postTest(completedTest) {
      this.response = JSON.stringify(completedTest);
      await api.postTest(
        this.uid,
        this.day,
        this.date,
        this.response,
        this.id_leadership
      );
      this.backToDaysMap();
    },

    //Este aún no se llama
    async postMantra(mantra) {
      this.response = JSON.stringify(mantra);
      await api.postMantra(this.mantra, this.uid);
    },

    changeStateClicked() {
      if (!this.clicked) {
        this.clicked = true;
      } else {
        this.clicked = false;
      }
    },

    getDate() {
      this.date = Date().toISOString();
    },

    backToDaysMap() {
      this.$router.push("/days_map/" + this.id_leadership + "/" + this.uid);
    }
  }
};
</script>

<style scoped>
.routinepage {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px #dbdbdb;
  border-radius: 50px;
}

header h2 {
  color: #1aac9b;
}

#activity-box,
#quote-box,
#test-box,
#mantra-box {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 1rem 0rem;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 35rem;
  padding: 2rem;
}
.general-description {
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-left: 4px solid #1aac9b;
  border-radius: 5px;
  background: rgb(243, 243, 243);
  width: 35rem;
}

#test-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.history-box {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 1rem 0rem;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 35rem;
  padding: 2rem;
}
#quote-box p {
  color: #1aac9b;
}
#activity-box p {
  padding: 0.5rem;
}
#test-box h3 {
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

h3,
p,
small {
  text-align: left;
}

.quote {
  font-size: 1rem;
}

button p {
  display: inline-block;
  margin: 0;
}

#button-go-to-test,
#button-go-to-routine-page {
  font-family: Poppins;
  margin: 2% 0%;
  border-style: none;
  border-radius: 50px;
  background: #1aac9b;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  border: 0.1rem solid #1aac9b;
}
#button-go-to-routine-page {
  background: transparent;
  display: block; /* --- */
  color: #1aac9b;
  transition: 0.5s;
}
.fa-times {
  color: #fff;
  transition: 0.5s;
  font-size: 0.5px;
}

#button-go-to-test:hover {
  background: transparent;
  color: #1aac9b;
  transition: 0.5s;
}
#button-go-to-routine-page:hover .fa-times {
  font-size: 1rem;
  color: #1aac9b;
  transition: 0.5s;
  margin-left: 0.5rem;
}
#button-go-to-test:hover .fa-chevron-right {
  color: #1aac9b;
  transition: 0.5s;
}

#button-go-back-to-days-map {
  cursor: pointer;
  color: #1aac9b;
  font-size: 1.5rem;
  padding: 1rem;
}
.fa-chevron-right {
  color: white;
  margin-left: 0.5rem;
}
.test-box {
  width: 75vw;
}

@media all and (max-width: 601px) {
  #activity-box,
  #quote-box,
  #test-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    height: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    width: 80vw;
    padding: 1rem;
  }
  #test-box {
    display: flex;
    flex-direction: row;
  }
  #button-go-to-test {
    padding: 0.5rem 1rem;
  }
}
</style>
