<template>
  <div class="special-history">
    <article v-for="(q, index) in testHistory" :key="index">
      <div>
        <h4>{{ q.question }}</h4>
        <div v-if="q.type == 'options'">
          <label>{{ q.answer }}</label>
        </div>
        <p v-if="q.type == 'feedback'">{{ q.header }}</p>
        <textarea
          disabled
          v-if="q.type == 'feedback' || q.type == 'textarea'"
          name="answer"
          v-model="q.answer"
        ></textarea>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: "TestSpecialHistory",
  props: { testHistory: { propType: Object, required: true } },
  mounted() {
    this.initializeTest();
  },
  methods: {
    initializeTest() {
      console.log("mounted history special");
    }
  }
};
</script>
<style scoped>
.special-history {
  text-align: left;
}
h4 {
  margin: 2rem 0;
}
textarea {
  width: 85%;
  border: none;
  border-radius: 0 10px 10px 0;
  border-left: 2px solid #1aac9b;
  background: rgb(245, 245, 245);
  padding: 1rem;
  min-height: 3rem;
}
</style>
