<template>
  <div class="test">
    <div class="description">
      <p>{{testDescription}}</p>
    </div>
    <div class="base" v-if="base !== null">
      <h4>{{ base[0].question }}</h4>
      <div class="options" v-for="(option, index) in base[0].options" :key="index">
        <a :class="{ clicked: isSelected(option) }" @click="selectedAnswer(option)">
          <i v-if="!isSelected(option)" class="far fa-circle"></i>
          <i v-if="isSelected(option)" class="fas fa-circle"></i>
          {{ option }}
        </a>
      </div>
    </div>
    <article v-if="this.completedQuestion.answer == 'Sí'">
      <Positive
        class="positive"
        v-for="(question, index) in positive"
        :key="index"
        :question="question"
        @emit-question-answers="addQuestionToCompletedTest"
      />
    </article>
    <article v-if="this.completedQuestion.answer == 'No'">
      <Negative class="negative" :advice="negative" />
    </article>
    <TestTextPositive
      v-if="!isDisabled && this.completedQuestion.answer == 'Sí'"
      :completedTest="completedTest"
      :id_leadership="id_leadership"
      @emit-final-text="sendHistory"
    />
  </div>
</template>

<script>
import Positive from "@/components/RoutinePage/Positive.vue";
import Negative from "@/components/RoutinePage/Negative.vue";
import TestTextPositive from "@/components/RoutinePage/TestTextPositive.vue";

export default {
  name: "Test",
  components: {
    Positive,
    Negative,
    TestTextPositive
  },
  data() {
    return {
      completedQuestion: {
        answer: null
      },
      completedTest: [],
      arrivedQuestions: [],
      clicked: false,
      finished: false
    };
  },

  computed: {
    isDisabled() {
      if (this.completedTest.length >= this.positive.length) {
        return false;
      } else {
        return true;
      }
    },
    uid() {
      return window.localStorage.getItem("uid");
    }
  },

  props: {
    base: { propType: Array, required: true },
    positive: { propType: Array, required: true },
    negative: { propType: String, required: true },
    testDescription: { propType: String, required: true },
    id_leadership: { propType: String, required: true }
  },

  methods: {
    isSelected(option) {
      if (this.completedQuestion.answer == option) {
        return true;
      } else {
        return false;
      }
    },

    selectedAnswer(option) {
      this.completedQuestion.answer = option;
      this.isSelected(option);
      this.initializeTest();
    },

    initializeTest() {
      this.completedTest = [];
    },

    addQuestionToCompletedTest(completedQuestion) {
      if (this.completedTest.length !== 0) {
        for (var i = 0; i < this.completedTest.length; i++) {
          if (completedQuestion.id == this.completedTest[i].id) {
            this.completedTest.splice(i, 1);
          }
        }
      }
      this.completedTest.push(completedQuestion);

      this.filterArray();
    },

    filterArray() {
      this.completedTest = this.completedTest.filter(
        question => question.answer !== ""
      );
    },

    sendHistory(history) {
      this.$emit("emit-test-answers", history);
    }
  }
};
</script>
<style scoped>
.fa-check {
  color: #1aac9b;
  transition: 0.5s;
  font-size: 0.5px;
}
.send-button {
  font-family: Poppins;
  margin: 3rem 0 0 0;
  border-style: none;
  border-radius: 50px;
  background: #1aac9b;
  color: white;
  display: block; /* --- */
  padding: 0.5rem 2.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  border: 0.1rem solid #1aac9b;
}
.send-button:hover .fa-check {
  color: white;
  transition: 0.5s;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.clicked {
  color: darkcyan;
  font-weight: bold;
}

* {
  text-align: left;
}
</style>
