<template>
  <div class="test-box">
    <div class="description">
      <p>{{testDescription}}</p>
    </div>
    <article v-for="(question, indexOfQuestion) in questionsList" :key="indexOfQuestion">
      <div>
        <h4>{{ question.question }}</h4>
        <div v-if="question.type == 'options'  ">
          <div
            class="options"
            v-for="(option, indexOfOption) in question.options"
            :key="indexOfOption"
          >
            <input type="radio" :value="option" v-model="completedTest.answers[indexOfQuestion]" />
            <label>{{option}}</label>
          </div>
        </div>
        <p v-if="question.type == 'feedback'   ">{{ question.header }}</p>
        <textarea
          placeholder=". . ."
          v-if="question.type == 'feedback' || question.type == 'textarea' "
          name="answer"
          v-model="completedTest.answers[indexOfQuestion]"
        ></textarea>
      </div>
    </article>

    <button
      class="send-button"
      @click="sendHistory()"
      :class="{ 'locked-button': !canSend }"
      :disabled="!canSend"
    >
      Enviar
      <i class="fas fa-check"></i>
    </button>
  </div>
</template>

<script>
export default {
  name: "TestSpecial",
  props: {
    base: { propType: Array, required: true },
    positive: { propType: Array, required: true },
    testDescription: { propType: String, required: true }
  },
  data() {
    return {
      questionsList: [],
      completedTest: {
        id: "",
        questions: [],
        headers: [],
        types: [],
        answers: []
      },
      convertedHistoryForPost: []
    };
  },
  computed: {
    canSend() {
      if (
        this.completedTest.answers.length != this.questionsList.length ||
        this.completedTest.answers.some(elem => elem == "")
      ) {
        return false;
      } else {
        return true;
      }
    }
  },
  async mounted() {
    if (this.positive == null) {
      this.questionsList = [...this.base];
    } else {
      this.questionsList = [...this.base, ...this.positive];
    }

    await this.initializeTest();
  },
  methods: {
    initializeTest() {
      for (let i = 0; i < this.questionsList.length; i++) {
        this.completedTest.answers[i] = "";
        this.completedTest.questions[i] = this.questionsList[i].question;
        this.completedTest.headers[i] = this.questionsList[i].header;
        this.completedTest.types[i] = this.questionsList[i].type;
      }
    },
    sendHistory() {
      this.convertAnswersForPostToHistory();
      this.$emit("emit-test-answers", this.convertedHistoryForPost);
    },
    convertAnswersForPostToHistory() {
      for (let i = 0; i < this.completedTest.questions.length; i++) {
        this.convertedHistoryForPost[i] = {
          question: this.completedTest.questions[i],
          header: this.completedTest.headers[i],
          type: this.completedTest.types[i],
          answer: this.completedTest.answers[i]
        };
      }
    }
  }
};
</script>
<style scoped>
.test-box {
  margin: 0%;
  text-align: left;
}
.fa-check {
  color: #1aac9b;
  transition: 0.5s;
  font-size: 0.5px;
}
h4 {
  margin: 2rem 0 0.5rem 0;
}
p {
  margin: 0.5rem 0;
}
.send-button {
  font-family: Poppins;
  margin: 3rem 0 0 0;
  border-style: none;
  border-radius: 50px;
  background: #1aac9b;
  color: white;
  display: block; /* --- */
  padding: 0.5rem 2.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.send-button:hover .fa-check {
  color: white;
  transition: 0.5s;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.locked-button {
  background: #757575b6;
  color: white;
  cursor: unset;
  transition: 0.5s;
}
.locked-button:hover {
  cursor: unset;
  color: white;
  transition: 0.5s;
}

.locked-button:hover .fa-check {
  font-size: 0.5px;
  color: transparent;
  margin-left: 0rem;
}

textarea {
  width: 85%;
  border: none;
  border-radius: 0 10px 10px 0;
  border-left: 2px solid #1aac9b;
  background: rgb(245, 245, 245);
  padding: 1rem;
  min-height: 3rem;
}
</style>