<template>
  <div class="text">
    <div id="test-text-positive" class="animated 1 fadeInLeftBig">
      <p v-if="completedTest !== null">{{finalText}}</p>
    </div>
    <button class="send-button" @click="sendFinalText" :disabled="isDisabled">
      Enviar
      <i class="fas fa-check"></i>
    </button>
  </div>
</template>
<script>
export default {
  name: "TestTextPositive",
  data() {
    return {
      date: null
    };
  },
  props: {
    completedTest: { propType: Array, required: true },
    id_leadership: { propType: String, required: true }
  },
  computed: {
    uid() {
      return window.localStorage.getItem("uid");
    },
    finalText() {
      return (
        "Hoy día " +
        this.date +
        ", he cumplido con la actividad diaria. Me he sentido " +
        this.completedTest[0].answer +
        " y me ha ayudado a " +
        this.completedTest[1].answer +
        ". Mis siguientes pasos son " +
        this.completedTest[2].answer +
        "."
      );
    }
  },
  mounted() {
    this.getDateToday();
  },
  methods: {
    getDateToday() {
      this.date = new Date().toISOString().slice(0, 10);
    },
    sendFinalText() {
      this.$emit("emit-final-text", this.finalText);
      this.$router.push("/days_map/" + this.id_leadership + "/" + this.uid);
    }
  }
};
</script>
<style scoped>
#test-text-positive {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 1rem 0rem;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 85%;
  padding: 1rem;
  margin-top: 3rem;
}

.send-button {
  font-family: Poppins;
  margin: 3rem 0 0 0;
  border-style: none;
  border-radius: 50px;
  background: #1aac9b;
  color: white;
  display: block; /* --- */
  padding: 0.5rem 2.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  border: 0.1rem solid #1aac9b;
}
.send-button:hover .fa-check {
  color: white;
  transition: 0.5s;
  font-size: 1rem;
  margin-left: 0.5rem;
}
</style>
